<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edataserver.dao.TestInfoMapper">
  <resultMap id="BaseResultMap" type="org.edataserver.model.TestInfo">
    <id column="test_id" jdbcType="VARCHAR" property="testId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="test_name" jdbcType="VARCHAR" property="testName" />
    <result column="test_type" jdbcType="VARCHAR" property="testType" />
    <result column="test_skill" jdbcType="VARCHAR" property="testSkill" />
    <result column="test_mode" jdbcType="VARCHAR" property="testMode" />
    <result column="test_state" jdbcType="VARCHAR" property="testState" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.edataserver.model.TestInfo">
    <result column="test_content" jdbcType="LONGVARCHAR" property="testContent" />
  </resultMap>
  <sql id="Base_Column_List">
    test_id, user_id, test_name, test_type, test_skill, test_mode, test_state, starttime, 
    endtime
  </sql>
  <sql id="Blob_Column_List">
    test_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo (test_id, user_id, test_name, 
      test_type, test_skill, test_mode, 
      test_state, starttime, endtime, 
      test_content)
    values (#{testId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, 
      #{testType,jdbcType=VARCHAR}, #{testSkill,jdbcType=VARCHAR}, #{testMode,jdbcType=VARCHAR}, 
      #{testState,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{testContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        test_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="testName != null">
        test_name,
      </if>
      <if test="testType != null">
        test_type,
      </if>
      <if test="testSkill != null">
        test_skill,
      </if>
      <if test="testMode != null">
        test_mode,
      </if>
      <if test="testState != null">
        test_state,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="testContent != null">
        test_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        test_name = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        test_type = #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        test_skill = #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        test_mode = #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        test_state = #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        test_content = #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      test_content = #{testContent,jdbcType=LONGVARCHAR}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="org.edataserver.model.TestInfo">
    <id column="test_id" jdbcType="VARCHAR" property="testId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="test_name" jdbcType="VARCHAR" property="testName" />
    <result column="test_type" jdbcType="VARCHAR" property="testType" />
    <result column="test_skill" jdbcType="VARCHAR" property="testSkill" />
    <result column="test_mode" jdbcType="VARCHAR" property="testMode" />
    <result column="test_state" jdbcType="VARCHAR" property="testState" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.edataserver.model.TestInfo">
    <result column="test_content" jdbcType="LONGVARCHAR" property="testContent" />
  </resultMap>
  <sql id="Base_Column_List">
    test_id, user_id, test_name, test_type, test_skill, test_mode, test_state, starttime, 
    endtime
  </sql>
  <sql id="Blob_Column_List">
    test_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo (test_id, user_id, test_name, 
      test_type, test_skill, test_mode, 
      test_state, starttime, endtime, 
      test_content)
    values (#{testId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, 
      #{testType,jdbcType=VARCHAR}, #{testSkill,jdbcType=VARCHAR}, #{testMode,jdbcType=VARCHAR}, 
      #{testState,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{testContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        test_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="testName != null">
        test_name,
      </if>
      <if test="testType != null">
        test_type,
      </if>
      <if test="testSkill != null">
        test_skill,
      </if>
      <if test="testMode != null">
        test_mode,
      </if>
      <if test="testState != null">
        test_state,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="testContent != null">
        test_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        test_name = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        test_type = #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        test_skill = #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        test_mode = #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        test_state = #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        test_content = #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      test_content = #{testContent,jdbcType=LONGVARCHAR}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="org.edataserver.model.TestInfo">
    <id column="test_id" jdbcType="VARCHAR" property="testId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="test_name" jdbcType="VARCHAR" property="testName" />
    <result column="test_type" jdbcType="VARCHAR" property="testType" />
    <result column="test_skill" jdbcType="VARCHAR" property="testSkill" />
    <result column="test_mode" jdbcType="VARCHAR" property="testMode" />
    <result column="test_state" jdbcType="VARCHAR" property="testState" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.edataserver.model.TestInfo">
    <result column="test_content" jdbcType="LONGVARCHAR" property="testContent" />
  </resultMap>
  <sql id="Base_Column_List">
    test_id, user_id, test_name, test_type, test_skill, test_mode, test_state, starttime, 
    endtime
  </sql>
  <sql id="Blob_Column_List">
    test_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo (test_id, user_id, test_name, 
      test_type, test_skill, test_mode, 
      test_state, starttime, endtime, 
      test_content)
    values (#{testId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, 
      #{testType,jdbcType=VARCHAR}, #{testSkill,jdbcType=VARCHAR}, #{testMode,jdbcType=VARCHAR}, 
      #{testState,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{testContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        test_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="testName != null">
        test_name,
      </if>
      <if test="testType != null">
        test_type,
      </if>
      <if test="testSkill != null">
        test_skill,
      </if>
      <if test="testMode != null">
        test_mode,
      </if>
      <if test="testState != null">
        test_state,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="testContent != null">
        test_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        test_name = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        test_type = #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        test_skill = #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        test_mode = #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        test_state = #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        test_content = #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      test_content = #{testContent,jdbcType=LONGVARCHAR}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="org.edataserver.model.TestInfo">
    <id column="test_id" jdbcType="VARCHAR" property="testId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="test_name" jdbcType="VARCHAR" property="testName" />
    <result column="test_type" jdbcType="VARCHAR" property="testType" />
    <result column="test_skill" jdbcType="VARCHAR" property="testSkill" />
    <result column="test_mode" jdbcType="VARCHAR" property="testMode" />
    <result column="test_state" jdbcType="VARCHAR" property="testState" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.edataserver.model.TestInfo">
    <result column="test_content" jdbcType="LONGVARCHAR" property="testContent" />
  </resultMap>
  <sql id="Base_Column_List">
    test_id, user_id, test_name, test_type, test_skill, test_mode, test_state, starttime, 
    endtime
  </sql>
  <sql id="Blob_Column_List">
    test_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from testinfo
    where test_id = #{testId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo (test_id, user_id, test_name, 
      test_type, test_skill, test_mode, 
      test_state, starttime, endtime, 
      test_content)
    values (#{testId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, 
      #{testType,jdbcType=VARCHAR}, #{testSkill,jdbcType=VARCHAR}, #{testMode,jdbcType=VARCHAR}, 
      #{testState,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{testContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.edataserver.model.TestInfo">
    insert into testinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        test_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="testName != null">
        test_name,
      </if>
      <if test="testType != null">
        test_type,
      </if>
      <if test="testSkill != null">
        test_skill,
      </if>
      <if test="testMode != null">
        test_mode,
      </if>
      <if test="testState != null">
        test_state,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="testContent != null">
        test_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null">
        test_name = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testType != null">
        test_type = #{testType,jdbcType=VARCHAR},
      </if>
      <if test="testSkill != null">
        test_skill = #{testSkill,jdbcType=VARCHAR},
      </if>
      <if test="testMode != null">
        test_mode = #{testMode,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        test_state = #{testState,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="testContent != null">
        test_content = #{testContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      test_content = #{testContent,jdbcType=LONGVARCHAR}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.edataserver.model.TestInfo">
    update testinfo
    set user_id = #{userId,jdbcType=VARCHAR},
      test_name = #{testName,jdbcType=VARCHAR},
      test_type = #{testType,jdbcType=VARCHAR},
      test_skill = #{testSkill,jdbcType=VARCHAR},
      test_mode = #{testMode,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP}
    where test_id = #{testId,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 20181107-wh -->
  
    <select id="getTestTotal" parameterType="org.edataserver.entity.Performance" resultType="map">
        select count(*) from testinfo where 1=1
   	<if test="month !=null and month !=''">   
			and starttime like '%${year}-${month}%'
	</if>
	<if test="startDate !=null and startDate !='' and endDate !=null and endDate !=''">   
			and starttime > #{startDate} and starttime < #{endDate}
	</if>
	<if test="year !=null and year !='' and startDate ==null and startDate =='' and endDate ==null and endDate =='' and month ==null and month ==''">   
			and starttime like '%${year}%'
	</if>
	<if test="testMode !=null and testMode !=''">   
			and test_mode=#{testMode}
	</if>
	</select>
	
	<select id="getTestTotal" parameterType="org.edataserver.entity.Performance" resultType="map">
		slect a.name b.count(*) from user a left join testinfo b
		where a.user_id=b.user_id and 1=1 
		<if test="month !=null and month !=''">   
			and starttime like '%${year}-${month}%'
		</if>
		<if test="startDate !=null and startDate !='' and endDate !=null and endDate !=''">   
			and starttime > #{startDate} and starttime < #{endDate}
		</if>
		<if test="year !=null and year !='' and startDate ==null and startDate =='' and endDate ==null and endDate =='' and month ==null and month ==''">   
			and starttime like '%${year}%'
		</if>
		<if test="testMode !=null and testMode !=''">   
			and test_mode=#{testMode}
		</if>
	</select >

</mapper>