<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edataserver.dao.TypeMapper">
  <resultMap id="BaseResultMap" type="org.edataserver.model.Type">
    <id column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id, type_name, createtime, type_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type
    where type_id = #{typeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from type
    where type_id = #{typeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.edataserver.model.Type">
    insert into type (type_id, type_name, createtime, 
      type_code)
    values (#{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{typeCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.edataserver.model.Type">
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.edataserver.model.Type">
    update type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.edataserver.model.Type">
    update type
    set type_name = #{typeName,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      type_code = #{typeCode,jdbcType=VARCHAR}
    where type_id = #{typeId,jdbcType=VARCHAR}
  </update>
  <!-- 20181107-wh -->
  <select id="getStandardTypeList" resultType="map">
  	select type_id as standardTypeId,type_name as standardTypeName from type
  </select>
  
  
</mapper>